html {
  margin: 0;
}

body{
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header {
  background-color: #f15b06;
  top: 0;
  height: 50px;
}

#beat{
  max-width: 70%;
}

header a{
  color: white;
  text-decoration: none;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 20px
}
header nav{
  padding: 10px;
  margin: auto;
  width: 70%;
  text-align: center;
}

.mainbody h1 {
 position: absolute;
 top: 10%; 
 left: 0;
 width: 100%; 
 margin-top: 15px;
 color: #008080;
 font-size: 450%;
 text-shadow: 3px 0 0 black;
}

#secondh1{
  position: absolute;
  top: 24%;
}

h1 span {
  color: #008080;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  padding-bottom: 0px;
  margin-left: 0;
  border-radius: 5px;
}

.mainbody{
  display: flex;
  justify-content: center;
  background: url(../images/Handholding.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  height: 600px;
  padding: 10%;
  background-attachment: fixed; 
}

.mainbody h2 {
  color: white;
  margin-top: 450px;
  font-size: 300%;
  left: 0;
  color: white;
}

.checkerboard {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.logoclass {
 height: 300px;
 display: flex;
 justify-content: center;
}

.logo {  /*how do i write "img" here?    */
  padding: 5%;
  margin-right: 13%;
}

.logoclass p {
  background-color: black;
  color: white;
  padding: 9%;
  font-size: 15px;
  margin: 0;
  text-align: center;
  margin: 0;
  width: 50%;
}

#mainpic {
  width: 50%;
  height: 100%;
}

.white  {
  text-shadow: 1px 0 0 white;
  background: none;
}

.divwhite {
  background-color: white;
  display: block;
  top: 0;
}

.orange {
  color: #f15b06;
  font-size: 70%;
  margin: auto;
  border-radius: 5px;
  width: 80%;
  height: 350px;
  margin-top:0;
  background: url(../images/main.jpg) repeat-x;
  background-attachment: fixed;
}

.orange h1 {
  text-align: center;
  padding-top: 10%;
  top: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.amountform {
  margin: auto;
  border: none;
}

.amountform label {
  width: 10%;
}

.amountform input {
  width: 3%;
  padding-left: 2px;
}

.amountform li {
  padding: 2%;
}

.paypalWrapper h2 {
  margin: 0;
  margin-left: 10%;
}

.paypal input {
  float: right;
  width: 25%;
  height: 25%;
}

/*#donateButton button {
  margin: auto;
  background-color: black;
  color: #f15b06;
  margin: auto;
  width: 30%;
  height: 50%;
  margin-bottom: 15%;
  font-size: 25%; */
}

h4{
  margin: 10px;
}

.thewhy h3{
  color: orange;
}

.content {
  background-color: darkblue;
  width: 100%;
  height: 300px;  /*do something with em*/
  color: white;
  font-family: helvetica;
}

ul {
  list-style-type: none;
  padding: 0;
}

.billing, .payment{
  width: 50%;
}

.billing{
  margin-left: 10%;
  float: left;
}



li {
  padding: 5px;
}

#inspire {
  margin-bottom: 0px;
  color: #f15b06;
}
form {
  width: 75%;
}

label, input, select {
    /* in order to define widths */
  display: inline-block;
}

label, select {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

label + input + select {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}

#submitButton{
  margin-left: 30px;
}

button{
  border-radius: 5px;
  box-shadow: 10px;
}

#submit {
  margin-top: 10%;
  background-color: #FFD700;
  font-size: 20px;
  padding: 5%;
  border: none;
}

.donateButton {
  border-radius: 5px;
  box-shadow: 10%;
  background: #f15b06;;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 12px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  width: 40%;
  margin: auto;
  height: 65px;
  font-size: 40px;
}
​
img h1{
  margin-top: 0px;
}
.reason{
  float: left;
  width
}
footer{
  margin-top: 5%;
  padding: 10px;
  padding-bottom: 5px;
  display: block;
  height: 15%;
  font-size: 13%;
  text-align: center;
  background: #f15b06;
  color: white;
}

footer img{
  width: 8%;
  height: 70%;
  display: inline;
}

li span {
 padding-top: 5px;
 margin-top: 2%;
}

#yellow {
  text-align: center;
  color: #FFD700;
}

@media only screen and (max-width: 500px) {

  #beat{
    max-width: 100%;
  }

  .donateButton {
    font-size: 30px
  }

  header {
    height: 70px;
  }

}



